{% extends 'layout.html' %}

{% block title %}

{% endblock %}

{% block header %}
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block body %}
<div class="container-bg">

</div>
<div class="container" style="height: 100vh">
    <div class="row d-flex justify-content-center align-items-center" style="height: 100%">
        <div class="col-12 p-5 ">
            <div class="main-container">
                <div class="main main-info">
                    <h1 class="main-info-title">Optimización de operaciones</h1>
                    <p class="main-info-p">Este proyecto tiene como objetivo ayudar a las pequeñas y medianas empresas a optimizar sus operaciones solventando los modelos matemáticos introducidos.</p>
                    <div class="div-help"></div>
                    <div class="developers">
                        <hr>
                        <a data-bs-toggle="modal" data-bs-target="#devModal">Click aqui para mas información sobre los desarrolladores</a>
                    </div>
                </div>
                <div class="main main-form">
                    <h3 class="main-form-title">Ingrese los siguientes datos</h3>
                    <div class="main-form-form">
                        <form action="{{ url_for('data')}}" method="POST">
                            <div class="form-group mb-4">
                                <label for="metodo" class="main-labels">Seleccione el metodo de solución</label>
                                <div class="content-select">
                                    <select class="form-control select" name="tipoMetodo" id="">
                                        <option value="metodoGrafico" selected="true"> Metodo grafico</option>
                                        <option value="metodoDF">Metodo dos fases</option>
                                    </select>
                                    <i></i>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label for="variable" class="main-labels">Ingrese el numero de variables</label>
                                <div class="container-input input-variables">
                                    <input id="variables" type="number" name="numVariables" id="variable" class="form-control">
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label for="ecuaciones" class="main-labels"> Ingrese la cantidad de restricciones</label>
                                <div class="container-input input-ecuaciones">
                                    <input id="ecuaciones" name="numRestricciones" class="form-control" type="number" value="1">
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary w-100" id="btnSent">
                                    Enviar
                                </button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="devModal" tabindex="-1" aria-labelledby="devModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="exampleModalLabel">Desarrolladores de este proyecto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="btn-left btn-styles">
                    <i class="fas fa-arrow-left"></i>
                </div>
                <div class="btn-right btn-styles">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="content">
                    <div class="slider">
                        <div class="devInfo">
                            <div class="card">
                                <h3 class="text-center fw-bold">Mateo Epalza Ramirez</h3>
                                <img src="{{ url_for( 'static', filename='img/devs/mateo.jpeg')}}" alt="Imagen del desarrollador">
                                <p class="mt-3"></p>
                            </div>
                        </div>
                        <div class="devInfo">
                            <div class="card">
                                <h3 class="text-center fw-bold">Juan Diego Bermudez</h3>
                                <img src="{{ url_for( 'static', filename='img/devs/juan.jpeg')}}" alt="Imagen del desarrollador">
                                <p class="mt-3"></p>
                            </div>
                        </div>
                        <div class="devInfo">
                            <div class="card">
                                <h3 class="text-center fw-bold">Santiago Gonzales</h3>
                                <img src="{{ url_for( 'static', filename='img/devs/santiago.jpeg')}}" alt="Imagen del desarrollador">
                                <p class="mt-3"></p>
                            </div>
                        </div>
                        <div class="devInfo">
                            <div class="card">
                                <h3 class="text-center fw-bold">Nicolas Tellez</h3>
                                <img src="{{ url_for( 'static', filename='img/devs/nicolas.jpeg')}}" alt="Imagen del desarrollador">
                                <p class="mt-3">Metalero en proceso.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer mt-3">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
